@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * {
        color: white;
        --box-shadow-intro-bottom0: inset 0 -21rem 0 0 hsl(218 28% 13%);
        --box-shadow-intro-bottom1: inset 0 -24rem 0 0 hsl(218 28% 13%);
        --box-shadow-intro-bottom2: inset 0 -25rem 0 0 hsl(218 28% 13%);
        --box-shadow-intro-bottom3: inset 0 -26rem 0 0 hsl(218 28% 13%);
    }

    :root {
        --intro-bg-color: 217 28% 15%;
        --main-bg-color: 218 28% 13%;
        --footer-bg-color: 216 53% 9%;
        --cyan: 176 68% 64%;
        --blue: 198 60% 50%;
        --hover-cyan: 186.9 61.7% 72.35%;
        --testim-bg: 219 30% 18%;
    }
}